.navbar-nav li{
    margin-left:2vw;
    /* margin-right:2vw; */
}

body{
    background-color: rgb(135, 206, 235) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: blur()
}

nav{
    background-color: rgb(135, 206, 235);
    color: #0f0f0f
}


.content{
    border: 5px solid black !important;
}

.table{
    width: auto !important;
}
